option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: django_pos.wsgi:application
    aws:elasticbeanstalk:environment:proxy:staticfiles:
        /static: static
        /static: admin_control
        /static: admin
        /static: checkout
        /static: admin_control
        /static: login
        /static: products
        /static: translate

container_commands:
  01_collectstatic:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py collectstatic --noinput"
