.content {
    background: rgb(255, 255, 255);
}

.add-category-form-input {
    width: 50%;
}

.add-category-button {
    width: 50%;
}

@media screen and (max-width: 576px){
    .add-category-form-input {
        width: 75%;
    }

    .add-category-button {
        width: 75%;
    }
}