{% extends "base.html" %}
{% load static %}

{% block extra_css %}  
    <link rel="stylesheet" href="{% static 'admin_control/css/admin_center.css' %}">          
{% endblock %}


{% block content %} 
    <h1 class="text-center">Admin Control</h1>
    <div class="row m-0 text-center">
        <a href="{% url 'products' %}" class="col-6 col-md-4 col-lg-3 p-2">
            <div class="admin-box p-2">
                {% if request.session.my_language.language == 'en' %}
                    <div class="col-12">PRODUCT</div>
                {% else %}
                    <div class="col-12">PRODUIT</div>
                {% endif %}
                <div class="col-12 border-bottom border-secondary"><i class="fas fa-box-open"></i></div>
                <div class="col-12 h6 text-start pt-2 admin-footer">Product</br>Management</div>
            </div>
        </a>
        <a href="{% url 'category' %}"class="col-6 col-md-4 col-lg-3 p-2">
            <div class="admin-box p-2">
                {% if request.session.my_language.language == 'en' %}
                    <div class="col-12">CATEGORY</div>
                {% else %}
                    <div class="col-12">CATEGORIE</div>
                {% endif %}
                <div class="col-12 border-bottom border-secondary"><i class="fas fa-boxes"></i></div>
                <div class="col-12 h6 text-start pt-2 admin-footer">Category</br>Management</div>
            </div>
        </a>
        <a href="{% url 'subcategory' %}"class="col-6 col-md-4 col-lg-3 p-2">
            <div class="admin-box p-2">
                {% if request.session.my_language.language == 'en' %}
                    <div class="col-12">SUBCATEGORY</div>
                {% else %}
                    <div class="col-12">SOUS-CATEGORIE</div>
                {% endif %}
                <div class="col-12 border-bottom border-secondary"><i class="fas fa-th"></i></div>
                <div class="col-12 h6 text-start pt-2 admin-footer">Subcategory</br>Management</div>
            </div>
        </a>
        <a href="{% url 'translate' %}"class="col-6 col-md-4 col-lg-3 p-2">
            <div class="admin-box p-2">
                {% if request.session.my_language.language == 'en' %}
                    <div class="col-12">LANGUAGE</div>
                {% else %}
                    <div class="col-12">LANGUE</div>
                {% endif %}
                <div class="col-12 border-bottom border-secondary"><i class="fas fa-store"></i></div>
                <div class="col-12 h6 text-start pt-2 admin-footer">Language</br>Management</div>
            </div>
        </a>
        <a href="{% url 'order' %}"class="col-6 col-md-4 col-lg-3 p-2">
            <div class="admin-box p-2">
                {% if request.session.my_language.language == 'en' %}
                    <div class="col-12">ORDERS</div>
                {% else %}
                    <div class="col-12">COMMANDE</div>
                {% endif %}
                <div class="col-12 border-bottom border-secondary"><i class="fas fa-file-invoice"></i></div>
                <div class="col-12 h6 text-start pt-2 admin-footer">Checkout</br>Management</div>
            </div>
        </a>
    </div>        
{% endblock %}

{% block extra_js %}              
    <script src="{% static 'admin_control/js/admin_center.js' %}" type="text/javascript"></script>
{% endblock %}