{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}  
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">          
{% endblock %}


{% block content %}
    <a href="{% url 'products' %}"class="col-12 h4 p-3 m-0"><i class="text-dark fas fa-backward"></i></a>
    <h1 class="col-12 border-bottom border-secondary bg-category mb-2 p-2">Add Product/{{ category.name }}</h1>
    <div class="add-product-form m-2 mx-auto mt-3 border border-secondary p-3 bg-product-form">
        <form id="add-product" action="{% url 'add_product' category_id=category.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}                
                {% if field.name == 'subcategory' %}
                    <select class="w-100 m-1 rounded-0 subcategory-field-input" id="subcategory" name="subcategory">                        
                        {% for subcategory in category.cat.all %}
                            <option value="{{ subcategory.id }}">{{ subcategory.name }}</option>
                        {% endfor %}                        
                    </select>
                {% else %}
                    {{ field | as_crispy_field }}
                {% endif %}
            {% endfor %}
            <div class="col-12 text-center">
                <button class="btn btn-success mt-1 mb-3 w-100 fw-bold" form="add-product" type="submit">submit</button>
            </div>        
        </form>
    </div>         
{% endblock %}

{% block extra_js %}              
    <script src="{% static 'products/js/products.js' %}" type="text/javascript"></script>
{% endblock %}