{% extends "base.html" %}
{% load static %}

{% block extra_css %}  
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">          
{% endblock %}


{% block content %}
    <a href="{% url 'admin_center' %}"class="col-12 h4 p-3 m-0"><i class="text-dark fas fa-backward"></i></a>
    <h1 class="col-12 border-bottom border-secondary mb-2 p-2">Category 
        <a href="#"><i class="text-dark fas fa-plus-square"></i>
        </a>
    </h1>
    <div class="row m-0 mt-2">
        {% for category in categories %}
            <div class="col-1"></div>
            <div class="col-4 col-md-2 h4">
                {{category.name}}
            </div>
            <div class="col-2 h4"><a href="#"><i class="text-danger fas fa-trash-alt"></i></a></div>
            <div class="col-2 h4"><a href="#"><i class="text-info fas fa-edit"></i></a></div>
            <div class="col-3 col-md-5"></div>
            <div class="col-12 border-bottom border-secondary"></div>
        {% endfor %}
    </div>
    
{% endblock %}

{% block extra_js %}              
    <script src="{% static 'products/js/products.js' %}" type="text/javascript"></script>
{% endblock %}